body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
    margin: 10px auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .logo {
    max-width: 300px;
    height: auto;
  }
  
  main {
    text-align: center;
  }
  
  button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #0a7400;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 100px; /* Ajusta la posición vertical de los botones */
  }
  
  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  